/* @import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-dark.min.css'); */

[itemprop='articleSection'] li::before {
  content: '';
  left: 17px;
  margin-top: 11px;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #efbb35;
}
